*{
    margin:0;
    padding: 0;
}

@media (min-width: 786px) {
    h1{
        font-size: 2vh;
    }
    h2{
        font-size: 2.3vh;
    }
    li{
        font-size: 2.3vh;
    }
    .img{
        max-height: 20vw;
    }
    .artemis{
        max-height: 30vw;
    }
}
@media (max-width: 785px) {
    h1{
        font-size: 3vw;
    }
    h2{
        font-size: 3.4vw;
    }
    li{
        font-size: 3.4vw;
    }
    .img{
        max-height: 20vh;
    }
    .artemis{
        max-height: 30vw;
    }
}

p{
    text-align: center;
}
h1{
    color: #ddd;
    margin-bottom: 1%;
    text-align: center;
}
h2{
    color: #ddd;
    margin: 1%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
li{
    color: #ddd;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

.text{
    margin: auto;
    width: 85%;
    font-size: small;
    margin-bottom: 10%;
}

body{
    background-image: url(img/360_F_243757367_gBpS6R5c8DB7pL5gw9gi9KXlzFfbdZOA.jpg);
}

.slider{
    width: 80vw;
    height:85vh;
    overflow: hidden;
    background-color: rgb(25, 25, 25);
    padding: 20px;
    border: rgb(30, 30, 30) solid 5px;
    border-radius: 10px;
}

.middle{
    position:absolute;
    left: 10%;
    right: 10%;
    top: 5%;
    bottom: 5%;
}

.navigation{
    position: absolute;
    bottom: 6px;
    left:50%;
    transform:translateX(-50%);
    display:flex;
}

.bar{
    height: 16px;
    width: 64px;
    margin: 6px;
    cursor: pointer;
    background-color: #ddd;
    opacity: .7;
    border-radius: 20px;
    transition: all .4s ease;
}

.bar:hover{
    opacity: 1;
    transform: scale(1.1);
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 300%;
    height: 100%;
    display: flex;
}

.slide{
    width: 33%;
    transition: all .6s ease;
}

.artemis{
    margin: 0 ;
    width: auto;
    height:auto;
}
.img{
    margin: 0;
    width: auto;
    height:auto;
}

#r1:checked ~ .s1{
    margin-left: 0;
}
#r1:checked ~ .lun{
    visibility: hidden;
}
#r1:checked ~ .chn{
    visibility: hidden;
}

#r2:checked ~ .s1{
    margin-left: -33%;
}
#r2:checked ~ .art{
    visibility: hidden;
}
#r2:checked ~ .chn{
    visibility: hidden;
}

#r3:checked ~ .s1{
    margin-left: -66%;
}
#r3:checked ~ .lun{
    visibility: hidden;
}
#r3:checked ~ .art{
    visibility: hidden;
}